.description {
  background-image: url("./../images/about-me-background.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  @media (min-width: $pc) {
    height: 100vh;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    z-index: -1;
  }
  &_wrapper {
    padding: 36px 20px;
    max-width: 1520px;
    margin: 0 auto;
    z-index: 2;
    @media (min-width: $pc) {
      padding: 123px 0 79px 0;
    }
  }

  .mobile {
    @media (min-width: $pc) {
      display: none;
    }
  }

  .desktop {
    display: none;
    @media (min-width: $pc) {
      height: 100%;
      display: flex;
    }
  }

  &_title {
    font-size: 30px;
    font-weight: 300;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    z-index: 2;
    @media (min-width: $pc) {
      font-size: 46px;
    }
  }

  &_slider {
    @media (min-width: $pc) {
      width: auto;
      height: 100%;
      display: flex;
    }
  }

  &_single {
    @media (min-width: $pc) {
      width: 33.33%;
      flex-basis: 33.33%;
      margin-right: 100px;
      flex: 1 0 auto;
      z-index: 2;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 21px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 2px;
        background-color: #000;
        opacity: 0.2;
        z-index: -1;
        @media (min-width: $pc) {
          left: 70%;
        }
      }
    }
    &-number {
      width: 32px;
      height: 32px;
      font-size: 12.2px;
      font-weight: 700;
      line-height: 1.65;
      letter-spacing: -0.06px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000;
      border-radius: 50px;
      color: #fff;
      flex-shrink: 0;
      z-index: 2;
      @media (min-width: $tablet) {
        width: 44px;
        height: 44px;
        font-size: 16.8px;
      }
    }
    &-year {
      font-size: 20px;
      color: #000;
      margin-left: 15px;
      z-index: 2;
      @media (min-width: $tablet) {
        font-size: 30px;
      }
      @media (min-width: $pc) {
        font-size: 42px;
      }
    }

    &-description {
      font-size: 13px;
      line-height: 1.65;
      letter-spacing: normal;
      color: #000;
      z-index: 2;
      @media (min-width: $tablet) {
        font-size: 20px;
      }
    }
  }
}

.proccess {
  padding-left: 200px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
