.form {
  background-image: url("./../images/form-background.png");
  background-size: cover;
  position: relative;
  z-index: 0;
  @media (min-width: $pc) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    z-index: -1;
  }

  &_wrapper {
    padding: 36px 20px;
    max-width: 1520px;
    margin: 0 auto;
    @media (min-width: $pc) {
      padding: 123px 40px 79px 40px;
      width: 100%;
    }
  }

  &_title {
    font-size: 30px;
    font-weight: 300;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media (min-width: $pc) {
      font-size: 46px;
    }
  }

  &_subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (min-width: $pc) {
      font-size: 25px;
    }
  }

  &_form {
    @media (min-width: $pc) {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    &-oneside {
      flex-shrink: 0;
      @media (min-width: $pc) {
        flex-basis: 35%;
        margin-right: 50px;
      }
    }

    &-anotherside {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      padding: 15px 0;
      flex-shrink: 0;
      @media (min-width: $pc) {
        flex-basis: 35%;
        justify-content: center;
      }

      textarea {
        width: 100%;
        border: solid 2px rgba(0, 0, 0, 0.5);
        height: 134px;
        border-radius: 7px;
        border-top-right-radius: 0;
        color: #000;
        background-color: inherit;

        @media (min-width: $pc) {
          height: 180px;
          font-size: 18px;
        }
      }
    }

    &-submit {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      @media (min-width: $pc) {
        justify-content: flex-end;
      }
    }

    &-submitbtn {
      border-radius: 7px;
      border-top-right-radius: 0;
      width: 148px;
      height: 36px;
      border: none;
      margin: 0 auto;
      background-color: #000;
      font-size: 12.9px;
      font-weight: 700;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 0;
      @media (min-width: $pc) {
        margin: 0;
        width: 188px;
        height: 42px;
        font-size: 15px;
        transition: 0.4s;
      }

      span {
        z-index: 2;
      }

      &:hover::after {
        transform: translate(-50%, -50%) skewX(-45deg) scale(1, 1);
        transition: all 0.5s;
        width: 130%;
      }

      &:hover {
        color: #000;
        box-shadow: 0px 3px 21px -1px rgba(0, 0, 0, 0.5);
      }

      &::after {
        transition: 0.4s;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 0%;
        height: 120%;
        z-index: -1;
      }
    }
  }

  &_input {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 15px 0;
    &-lable {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: 0.4s;
      text-transform: uppercase;
      font-size: 18px;
    }
    &-finallabel {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    input {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.6;
      color: #000;
      width: 100%;
      padding: 14px 2px;
      border: none;
      background-color: inherit;
      @media (min-width: $pc) {
        font-size: 18px;
      }

      &:focus {
        outline: none;
      }

      &:focus + label {
        font-size: 14px !important;
        top: 20% !important;
        opacity: 0.5;
      }

      &:focus ~ svg {
        stroke: #000;
        transform: translate3d(-66.6%, 0, 0);
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      fill: none;
      stroke: #000;
      pointer-events: none;
      transition: transform 0.7s, stroke 0.7s;
      transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    }
  }
}

.active_label {
  font-size: 14px !important;
  top: 20% !important;
  opacity: 0.5;
}
