.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-100%);
  transition: 0.5s;

  &_wrapper {
    list-style: none;

    &-single {
      font-size: 25px;
      text-transform: uppercase;
      color: #fff;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.dropdown_animtion {
  transform: translate(0);
}
