.shadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  display: none;
  //   display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  &_close {
    fill: #ff0000;
    width: 25px;
    & > * {
      fill: #ff0000;
    }
  }

  &_check {
    fill: #47ae74;
    width: 30px;
    & > * {
      fill: #47ae74;
    }
  }

  &_btn {
    width: 25px;
  }
}

.active_shadow {
  display: flex !important;
}

.red_color {
  color: red !important;
}

.xd-message {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  min-height: 60px;
  background: #fff;
  border: 1px solid #455870;
  margin-bottom: 2rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  height: 100px;
  max-width: 600px;

  &-icon {
    background: #455870;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    margin: 0;
    margin-left: -1px;
  }

  &-content {
    flex: 6;
    padding-left: 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;

    p {
      padding: 0;
      margin: 0;
    }
  }

  &-close {
    color: #455870;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: color 0.4s ease;
    cursor: pointer;
    border: none;

    .close-icon {
      transition: color 0.4s ease;
      &:hover {
        color: darken(#455870, 30%);
      }
    }
  }
}

.msg-danger {
  border: 1px solid #b05150;

  .xd-message-icon {
    background: #b05150;
  }

  .xd-message-content,
  .xd-message-close {
    color: #b05150;
  }

  .xd-message-close {
    .close-icon {
      &:hover {
        color: darken(#b05150, 10%);
      }
    }
  }
}

.msg-success {
  .xd-message-icon {
    background: rgba(71, 174, 116, 0.4);
    border: none;
  }

  .xd-message-content,
  .xd-message-close {
    color: #47ae74;
  }

  .xd-message-close {
    .close-icon {
      &:hover {
        color: darken(#47ae74, 10%);
      }
    }
  }
}

.msg-warning {
  border: 1px solid #ef974b;

  .xd-message-icon {
    background: #ef974b;
    border: none;
  }

  .xd-message-content,
  .xd-message-close {
    color: #ef974b;
  }

  .xd-message-close {
    .close-icon {
      &:hover {
        color: darken(#ef974b, 10%);
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 60%;
  }
  .xd-message-icon,
  .xd-message-close {
    font-size: 1rem;
    border: none;
  }
  .xd-message-content {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
  .xd-message-icon,
  .xd-message-close {
    font-size: 1rem;
  }
  .xd-message-content {
    font-size: 0.8rem;
  }
  .heading span {
    display: none;
  }
}
