.skills {
  overflow: hidden;
  background-size: 50% 50%;
  background-position: left;
  width: 100vw;

  @media (min-width: $pc) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url("./../images/skills-background.webp");
    background-size: cover;
    background-position: left;
  }

  &::after {
    @media (min-width: $pc) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
    }
  }

  &_wrapper {
    padding: 36px 20px;
    max-width: 1520px;
    margin: 0 auto;
    @media (min-width: $pc) {
      padding: 123px 0 79px 0;
    }
  }

  &_title {
    font-size: 30px;
    font-weight: 300;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    @media (min-width: $pc) {
      font-size: 46px;
    }
  }

  &_icons {
    @include row(2, 30px, flex-start);
    @media (min-width: $tablet) {
      @include row(3, 30px, flex-start);
    }
    @media (min-width: $pc) {
      @include row(6, 60px, flex-start);
    }

    &-single {
      padding: 10px;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      justify-content: center;
      align-items: center;
      transition: 0.4s;

      @media (min-width: $pc) {
        cursor: pointer;
      }

      &:hover {
        box-shadow: 0px 3px 21px -1px rgba(0, 0, 0, 0.5);
        transform: translateY(-10px) !important;
      }
      img {
        width: 100%;
        object-fit: cover;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.slide:last-child {
  z-index: 0;
}

.hide {
  opacity: 0;
}

.show_form_right {
  animation: show_form_right 0.4s;
}

.show_form_left {
  animation: show_form_left 0.4s;
}

.show_form_bottom {
  animation: show_form_bottom 0.4s;
}

.hide_form_bottom {
  animation: hide_form_bottom 0.4s;
}

@keyframes show_form_left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show_form_right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show_form_bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide_form_bottom {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
