.topBanner {
  width: 100%;
  height: 390px;
  position: relative;
  overflow: hidden;
  @media (min-width: $pc) {
    height: 800px;
    width: calc(100% - 80px);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 160px;
    padding-top: 180px;
    border-radius: 20px;
  }

  &_oneside {
    padding: 180px 15px 0;
  }

  &_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.08;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 0px 5px #000000;
    @media (min-width: $pc) {
      font-size: 82px;
      margin-bottom: 27px;
    }
  }

  &_role {
    font-size: 20px;
    color: #fff;
    opacity: 0.9;
    margin-bottom: 19px;
    position: relative;
    z-index: 2;
    text-shadow: 2px 0px 5px #000000;
    @media (min-width: $pc) {
      font-size: 40px;
      margin-bottom: 27px;
    }
  }

  &_link {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    cursor: pointer;
    @media (min-width: $pc) {
      padding: 1em 2.5em;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &::after {
      background-color: #fff;
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &_scroll {
    display: none;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 20px;
    bottom: 160px;
    height: 36px;
    left: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    right: 0;
    width: 24px;
    z-index: 3;
    background-color: inherit;
    position: absolute;
    bottom: 20px;
    @media (min-width: $pc) {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 50%);
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 50%;
      animation: fadeDown 1s ease-out infinite;
    }
  }

  &_anotherside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}

.ml11 {
  font-weight: 700;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
